<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="movePage()">
      <ion-icon name="notifications" class="ion-margin-end"></ion-icon>
    </ion-buttons> 
    <ion-title>
      Matches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-slides #slides pager='false' [options]="slideOpts">

    <ion-slide *ngFor="let card of cards;let i = index;" >
      <ion-card class="ion-text-left" (click)="openTab3(card)">
        <img [src]="card.img">
        <ion-card-header >
          <ion-card-title>{{card.name}}</ion-card-title>
          <ion-card-subtitle>{{card.detail}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content> 
          <p>{{card.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  
  </ion-slides>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
