<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="movePage()">
      <ion-icon name="home" class="ion-margin-end"></ion-icon>
    </ion-buttons>

    <ion-title>
      Daily Recommentations
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
    <div class="tinder" [hidden]="!cards.length">    
      <div class="tinder--cards" (swipe)="swipeEvent($event)" > 
    
          <div #tinderCard class="tinder--card" (transitionend)="handleShift()" *ngFor="let card of cards; let i = index"
              [ngStyle]="{ zIndex: cards.length - i, transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)' }">
    
              <img #tinderCardImage [src]="card.img" (load)="tinderCardImage.style.opacity = 1">
              <h4 class="ion-text-left ion-padding-start"><b>{{ card.name }}</b></h4>
              <p class="ion-text-left ion-padding-start">{{ card.detail }}</p>
              <p class="ion-text-left ion-padding-start">{{ card.title }}</p>
              <p class="ion-text-left ion-padding-start">{{ card.desctiption }}</p>
 

             <ion-col col-6 class="ion-text-left float-left"><ion-icon name="star-outline" class="ion-text-start" style="font-size: 1.2em;" (click)="userClickedButton($event, 'up')"></ion-icon> Shortlist </ion-col>
                
             <ion-col col-6> <ion-label class="ion-padding-end">Like Her?</ion-label>
              <ion-icon name="close-circle-outline" class="ion-padding-end" style="font-size: 1.2em;" (click)="userClickedButton($event, 'left')"></ion-icon>

              <ion-icon name="heart-outline" class="ion-padding-end" style="font-size: 1.2em;" (click)="userClickedButton($event, 'right')"></ion-icon>
             
             </ion-col>
          </div>
    
      </div>
    
    </div>
  
</ion-content>
