<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      View Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-slides pager='true' [options]="slideOpts" >
      <ion-slide> 
        <img [src]="cards.img" style="width : 100%;">
      </ion-slide>
    </ion-slides>
      
    <ion-card-header >
      <ion-card-title>{{cards.name}}</ion-card-title>
      <ion-card-subtitle>{{cards.detail}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> 
      <p>{{cards.title}}</p>
      <p>{{cards.description}}</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
